
$imgPath:'/public/images/starWars.png';

.two-layout-column {
    display: flex;
    // height: 100%;

    @include breakpoint(desktop){
        display: grid;
        grid-template-columns: 400px auto;
    }

    &__left-column {
        display: none;

        @include breakpoint(desktop){
            align-items: flex-end;
            background: url($imgPath) no-repeat;
            display: flex;
        }

        .text-container {
            color: $white;
            font-size: 22px;
            width: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            &--green {
                color:$green;
            }
        }
    }

    .main-titles-container {
        .title {
            font-family: $openSans;
            font-size: 35px;
            color: $black;
        }

        .second-title {
            color: $gray-text;
            font-size: 16px;

            &--red {
                padding-top: 10px;
                color: $red;
            }
        }
    }

    &__right-column {
        // align-items: center;
        // display: flex;
        // flex: 1;
        // flex-direction: column;
        // justify-content: center;

        @include breakpoint(desktop){
            justify-content: initial;
        }

        .main-titles-container {
            .title {
                font-family: $openSans;
                font-size: 35px;
                color: $black;
            }

            .second-title {
                color: $gray-text;
                font-size: 16px;

                &--red {
                    padding-top: 10px;
                    color: $red;
                }
            }
        }
    }
}

