
$imgPath:'/public/images/starWars.png';

.two-layout-column {
  display: grid;
  grid-template-columns: 480px auto;
  min-height: 100vh;

  &__left-column {
    align-items: flex-end;
    background: url($imgPath) no-repeat;
    display: flex;
    grid-column: 1/2;
  }

  &__left-column-text {
    color: $white;
    font-size: 22px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;

    &--green {
      color:$green;
    }
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    .signup-text {
      text-align: right;
      padding: 40px 20px 0 0;

      a {
        font-size: 16px;
        color: $gray-test2;
      }
    }

    .form-fields-container {
        display: grid;
        grid-template-columns: 230px 1fr;
        height: 100%;

        .form-fields {
            align-items: center;
            display: flex;
            grid-column: 2/3;

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .main-title {
              font-family: $openSans;
              font-size: 35px;
              color: $black;
            }

            .second-title {
              color: $gray-text;
              font-size: 16px;
              padding-top: 20px;

              &--red {
                padding-top: 10px;
                color: $red;
              }
            }
        }
    }
  }

  &__right-column-submit-btn {
    margin-top: 40px;
  }
}

