
@mixin dashboard-event-box() {
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.11);
    font-size: 18px;
    padding: 30px;

    &__header {
        .time {
            color: $event-gray;
            font-size: 14px;
        }

        .title {
            color:#323C46;
            font-size:22px;
            font-weight: 500;
            margin-top:20px;
        }

        .sub-title {
            color:#7D7878;
            font-size: 14px;
            margin-top: 15px;
        }
    }

    &__description {
        color: $gray-text;
        font-size: 16px;
    }

    &__footer {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;

        .people-counter {
            color: $gray-text;
            display: flex;
            font-size: 14px;
        }

        .button-container {
            flex-basis: 30%;
        }
    }
}

.dashboard-page {
    background-color: $gray-background;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-areas:
    ". navigation-bar ."
    ". menu-bar ."
    ". dashboard-event-box .";
    grid-template-rows: 85px 50px auto;
    height: 100vh;

    .navigation-bar {
        align-items: flex-start;
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;

        .profile-icon {
            @include profile-icon;
        }
    }

    .dashboard-event-container {
        grid-area: dashboard-event-box;
        overflow-y: scroll;
    }

    .navigation-bar {
        grid-area: navigation-bar;
    }

    .menu-bar {
        display: flex;
        justify-content: center;
        grid-area: menu-bar;

        &__show-title {
            color: $dashboard-gray;
            font-family: $hind;
            font-size: 12px;
            font-weight: 600;
            padding: 0 15px 0 28px;
        }

        &__events-title {
            color: $black;
            font-family: $hind;
            font-size: 12px;
            font-weight: 600;
            padding-right: 100px;
        }

        &__view-module {
            .view-module-icon {
                font-size: 20px;
            }
        }

        &__list-module {
            .list-module-icon {
                font-size: 20px;
                color: $dashboard-gray;
            }
        }
    }

    .dashboard-event {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 140px 1fr 50px;
        height: 300px;
        margin-bottom: 20px;
        @include dashboard-event-box();
    }
}
