
$imgPath:'/public/images/starWars.png';

.login-form {
  display: flex;
  min-height: 100vh;

  &__left-column{
    align-items: flex-end;
    background: url(/public/images/starWars.png) no-repeat;
    width: 50%;
    display: flex;
  }

  &__left-column-text{
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;
    color: $white;
    width: 100%;
    &--green{
      color:$green;
    }
  }

  &__right-column{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__right-column-fill-in-text{
    padding-top: 10px;
    &--red{
      padding-top: 10px;
      color: $red;
    }
  }

  &__right-column-signup-text{
    text-align: right;
    padding: 40px 20px 0 0;

    a {
      font-size: 14px;
      color: $gray-test2;
    }

  }

  &__right-column-form-fields{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
  }

  &__right-column-submit-btn {
    margin-top: 40px;
  }
}

