
$imgPath:'/public/images/starWars.png';

.login-form {
  display: grid;
  grid-template-columns: 480px auto;
  min-height: 100vh;

  &__left-column {
    align-items: flex-end;
    background: url($imgPath) no-repeat;
    display: flex;
    grid-column: 1/2;
  }

  &__left-column-text {
    color: $white;
    font-size: 22px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;

    &--green {
      color:$green;
    }
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    .signup-text {
      text-align: right;
      padding: 40px 20px 0 0;

      a {
        font-size: 16px;
        color: $gray-test2;
      }
    }

    .main-title {
      font-family: $openSans;
      font-size: 35px;
      color: $black;
    }
  }

  &__right-column-fill-in-text {
    padding-top: 10px;
    &--red{
      padding-top: 10px;
      color: $red;
    }
  }


  &__right-column-form-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
  }

  &__right-column-submit-btn {
    margin-top: 40px;
  }
}

