$imgPath:'/public/images/starWars.png';

.login-page {
    height: 100%;
    width: 100%;

    &__left-banner {
        display: none;
    }

    @include breakpoint(tablet){
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;

        &__left-banner {
            align-items: flex-end;
            background: url($imgPath) no-repeat;
            display: flex;

            .bottom-text-container {
                text-align: center;
                color: $white;
                font-size: 18px;
                margin-bottom: 50px;
                width: 100%;

                .green-text {
                    color:$green;
                }
            }
        }
    }

    &__form-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 2fr 2fr 1fr 1fr;
        grid-template-areas:
        "titles-container"
        "titles-container"
        "form-fields-container"
        "signup-link"
        "submit-btn-container";
        height: 100vh;

        .sign-up-link {
            grid-area: signup-link;
            font-size: 18px;
        }

        .main-titles-container {
            grid-area: titles-container;
        }

        .form-fields-container {
            grid-area: form-fields-container;
        }

        .submit-btn-container {
            grid-area: submit-btn-container;
        }

        .sign-up-link,
        .submit-btn-container{
            align-items: flex-start;
            display: flex;
            height: 150px;
            justify-content: center;
        }

        .main-titles-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;

            .title {
                font-family: $openSans;
                font-size: 35px;
                color: $black;
            }

            .second-title {
                color: $gray-text;
                font-size: 18px;
                padding-top: 20px;
                padding-bottom: 40px;

                &--red {
                    padding-top: 10px;
                    color: $red;
                }
            }

            .signup-text {
                padding: 0 30px;
            }
        }

        .form-fields-container {
            padding: 0 30px;

            .textfield-container {
                .MuiFormControl-marginNormal-2 {
                    width: 100%;
                }
            }
        }
    }
}
