$brand-purple : rgb(135,140,223);
$brand-green: rgb(153,251,198);
$white: #fff;
$green: #00C766;
$red: #f44336;
$light-gray :#F9F9FB ;
$dark-gray: #D8D8D8;
$gray : #D9DCE1;
$gray-text: #949EA8;
$gray-test2: #C9CED3;
$black: #323C46;
$theme-hover-color: #FFFFFF !default; // White
$input-label: #0000008a;
$gray-background: #F9F9FB;
