@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('//fonts.googleapis.com/css?family=Open+Sans');

$font-size : 5rem;
$merriweather: "Merriweather",sans-serif;
$openSans: 'Open Sans', sans-serif;

html {
    height: 100%;
}

body {
  font-family: $merriweather;
  height: 100%;
}

a {
  text-decoration: none;
  color: $black;
}

.custom-box-shadow {
  box-shadow: 0 3px 3px 0px rgba(#000, 0.1);
}

.main-container {
    height: 100%;
}
